<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>Layout</title>
  </head>
  <body>
    <header>
      <div class="countiner">
        <div class="imgs">
          <img
            src="./images/logo.png"
            alt=""
            width="216"
            height="37"
            class="logo"
          />
          <img src="./images/header-triangle.png" alt="" width="116" height="100" />
        </div>
        <nav>
          <ul>
            <li><a href="#">home /</a></li>
            <li><a href="#">news /</a></li>
            <li><a href="#">archives /</a></li>
            <li><a href="#">about /</a></li>
            <li><a href="#">contact </a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="count">
      <div class="countiner main-stroy">
        <div>
          <h1><a href="*">Fixed Gear Forever</a></h1>
        </div>
        <div class="intro">
          <p>2020</p>
          <p>
            The veloheld combines minimalist design with superb quality. Devoid
            of excessive graphics and gear shift components, the veloheld
            product range delights us with its beauty and simplicity. The black
            and white (yin and yang?) bicycles feature a short wheelbase, a
            single gear and a narrow handlebar... All you need to explore the
            city streets.
          </p>
          <p>
            For those who want to create their bike themselves, the veloheld
            frames come in three sizes and two colours and are the perfect
            starting point. Continue reading...
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
